# Node modules
node_modules/
amplify/node_modules/
.amplify/
.angular/
npm-debug.log*
yarn-error.log*

# Amplify/Artifacts
amplify/#current-cloud-backend/
amplify/.temp/
amplify/#temp/
amplify/backend/amplify-meta.json
.amplify/artifacts/
amplify_outputs.json

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime*

# OS files
.DS_Store
Thumbs.db

# Build/Dist
/dist
/out-tsc

# Angular environments
/src/environments/*.ts

# Misc
.env
.postcssrc.json
postcss.config.js

# Test output, coverage
/coverage
