## [Start] Setting "theme" to default value of "light". **
$util.qr($context.args.input.put("theme", $util.defaultIfNull($ctx.args.input.theme, "light")))
## [End] Setting "theme" to default value of "light". **
{}