<header class="bg-white dark:bg-gray-800 shadow-sm sticky top-0 z-10 flex items-center justify-between px-6 py-4">
  <div class="flex items-center">
    <button class="md:hidden focus:outline-none" (click)="toggleMobileMenu()" aria-label="Toggle mobile menu">
      <svg-icon [src]="showMobileMenu() ? 'assets/icons/x.svg' : 'assets/icons/menu.svg'" class="w-6 h-6"></svg-icon>
    </button>
    <h1 class="text-xl font-semibold text-gray-900 dark:text-gray-100 cursor-pointer ml-4" (click)="toggleSidebar()">Proto-Admin</h1>
  </div>
  <div class="relative">
    <button (click)="toggleDropdown()" class="flex items-center space-x-2 focus:outline-none">
      <img
        [ngSrc]="profileImgPath"
        class="h-10 w-10 rounded-full"
        alt="User profile"
        width="40"
        height="40"
      />
    </button>
    <div
      [@openClose]="isDropdownOpen() ? 'open' : 'closed'"
      class="absolute right-0 mt-2 w-60 bg-white dark:bg-gray-800 rounded-md shadow-lg py-4 z-20"
    >
      <div class="flex items-center px-4 pb-4">
        <img [ngSrc]="profileImgPath" class="h-10 w-10 rounded-md" alt="User profile" width="40" height="40" />
        <div class="ml-2 text-sm text-gray-900 dark:text-gray-100">
          <p class="font-semibold">User Name</p>
          <p class="text-xs text-gray-600 dark:text-gray-400">user@example.com</p>
        </div>
      </div>
      <hr class="border-gray-200 dark:border-gray-700 border-dashed mx-4" />
      <ul class="my-2 mx-2">
        <li>
          <a
            routerLink="/profile"
            class="flex items-center gap-2 px-2 py-2 text-sm text-gray-700 dark:text-gray-200 hover:bg-blue-50 dark:hover:bg-blue-900 rounded-md"
          >
            <svg-icon src="assets/icons/settings.svg" class="w-5 h-5"></svg-icon>
            Profile
          </a>
        </li>
        <li>
          <a
            routerLink="/settings"
            class="flex items-center gap-2 px-2 py-2 text-sm text-gray-700 dark:text-gray-200 hover:bg-blue-50 dark:hover:bg-blue-900 rounded-md"
          >
            <svg-icon src="assets/icons/settings.svg" class="w-5 h-5"></svg-icon>
            Settings
          </a>
        </li>
        <li>
          <button
            (click)="logout()"
            class="flex items-center gap-2 px-2 py-2 text-sm text-gray-700 dark:text-gray-200 hover:bg-blue-50 dark:hover:bg-blue-900 rounded-md w-full text-left"
          >
            <svg-icon src="assets/icons/logout.svg" class="w-5 h-5"></svg-icon>
            Log out
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
